.edit-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.edit-todo input {
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
}
.edit-todo button {
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  background-color: #748ffc;
  color: #f1f3f5;
}
.edit-todo button:hover {
  background-color: #91a7ff;
}
