table td:last-child {
  width: auto;
}

td {
  color: #f1f3f5;
  letter-spacing: 1px;
  text-align: center;
  padding: 0.5em;
  width: 20%;
}

.active {
  background-color: orange;
}
.inactive {
  background-color: #1c7ed6;
}

table button {
  color: #f1f3f5;
  font-weight: 400;
  padding: 8px;
  border-radius: 30px;
  margin: 3px;
}
.start-button {
  background-color: #40c057;
}
.start-button:hover {
  background-color: #69db7c;
}
.stop-button {
  background-color: #f76707;
}
.stop-button:hover {
  background-color: #ff922b;
}
.duty-button {
  background-color: #1098ad;
}
.duty-button:hover {
  background-color: #22b8cf;
}
.delete-button {
  background-color: #fa5252;
}
.delete-button:hover {
  background-color: #ff8787;
}
.edit-button {
  background-color: #748ffc;
}
.edit-button:hover {
  background-color: #91a7ff;
}
